<header class="sticky top-0 bg-primary shadow-md  items-center">

  <div class="mx-auto flex items-center justify-between px-10 py-4">
    <!-- Logo -->
    <div class="flex items-center">
      {# <img src={{ asset('images/logo.svg') }} alt="Logo" class="h-14 mr-4 ml-4"> #}
      <h1 class="lg:text-xl text-5xl font-bold text-white">Task Manager <span class="italic mx-4 text-xl lg:text-sm text-highlight">by Loïc Mougin</span></h1>
    </div>
    
    <!-- Buttons -->
    <div class="flex items-center space-x-4 h-24 lg:h-full">
      <button id="openCreateModalButton" class="bg-highlight text-white rounded px-4 py-2 h-20 lg:h-full w-20 lg:w-full text-4xl lg:text-base">+</button>

      {% if is_logged %}
        <div class="relative inline-block text-left ">
          <button class="inline-flex items-center justify-center w-full rounded-md px-4 py-2 bg-gray-700 text-white h-20 lg:h-full text-2xl lg:text-base" id="dashboard-button" aria-haspopup="true" aria-expanded="true">
              Dashboard
          </button>

          <div class="origin-top-right absolute right-0 lg:w-24 w-30 rounded-md shadow-lg bg-white hidden" id="dropdown-menu">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
              <a href="{{ path('logout') }}" class="block text-right px-4 py-2 lg:h-full text-xl lg:text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">Log Out</a>
            </div>
          </div>
        </div>
      {% else %}
        <button id="openModalButton" class="bg-gray-700 text-white rounded px-4 py-2 h-20 lg:h-full text-2xl lg:text-base">Connect</button>
      {% endif %}
    </div>
  </div>

{{ include('modal.html.twig') }}

</header>

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
    {{ encore_entry_script_tags('signup') }}
    {{ encore_entry_script_tags('modal') }}
    {{ encore_entry_script_tags('folders') }}
    {{ encore_entry_script_tags('tasks') }}
    {{ encore_entry_script_tags('connectButton') }}
{% endblock %}
